* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  align-items: center;
  flex-direction:column;
  border-radius: 20px;
  border: 3px solid rgb(10, 10, 233);
  margin: 4rem auto;
  padding: 1rem;
  width: 85%;
  
}

.header {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  text-align: center;
  color: #0cbcf6;
  text-decoration: 2px underline;

}

.card-header {
  color: #0cbcf6;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 0.6rem;
  margin: 0.4rem 0;
  background-color: rgb(255, 255, 255);
  border: 8px solid rgba(120, 222, 11, 0.915);
  border-radius: 5px;

}

.card-container{
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid black;
  margin-top: 10px;
  background-color: rgb(248, 226, 229);
  }

.player-name {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 10px;
  color: black;

    }

.card-score {
  color: red;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 10px;
}
